//Import Font
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

$light: 400;
$reg: 700;
$bold: 900;

h1, h2 {
	font-weight: $bold;
}

h1 {
	line-height: 5rem;
	font-size: 5rem;
	@media (min-width: 992px) {
		line-height: 5rem;
		font-size: 5rem;
	}
	@media (min-width: 1400px) {
		line-height: 7rem;
		font-size: 7rem;
	}
	@media (min-width: 1740px) {
		line-height: 9rem;
		font-size: 9rem;
	}
}

h2 {
	line-height: 5rem;
	font-size: 5rem;
}

h3 {
	line-height: 4rem;
	font-size: 4rem;
}

h4 {
	line-height: 4rem;
	font-size: 3rem;
}

h5 {
	line-height: 3.5rem;
	font-size: 3rem;
}

h6 {
	line-height: 2.5rem;
	font-size: 1.6rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}


p, li {
	line-height: 2rem;
	font-size: 1rem;
    font-weight: 300;
	a {
		color: inherit;
		&:hover {
			color: inherit;
		}
	}
}

.title {
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
	li {

	}
}