#header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 99;
	transition: 0.4s all;
	-webkit-transition: all 0.4s;
	nav {
		position: relative;
		.logo {
			display: block;
			max-width: 12rem;
			width: 100%;
			transition: 0.4s all;
			-webkit-transition: all 0.4s;
			@media (min-width: 992px) {
				max-width: 18.8rem;
			}
		}
		.menu-primary-menu-container {
			#menu-primary-menu {
				text-align: center;
				margin: 0;
				li {
					text-transform: uppercase;
					font-size: 1.6rem;
					line-height: 2rem;
					letter-spacing: 0.2rem;
					margin: 0 2.5rem;
					display: inline-block;
					@media (min-width: 992px) {
						
					}
					a {
						color: $l-grey;
						transition: 0.2s all;
						-webkit-transition: all 0.2s;
						&:hover {
							color: $white;	
						}
					}
				}
			}
		}
		.search {
			position: relative;
			.search-toggle {
				position: absolute;
				top: 50%;
				right: 2rem;
				width: 4rem;
				height: 4rem;
				-webkit-transform: translate(0, -50%);
				transform: translate(0, -50%);
				border: 0.3rem solid $pink;
				border-radius: 100%;
				cursor: pointer;
				transition: 0.2s all;
				-webkit-transition: all 0.2s;
				@media (min-width: 992px) {
					
				}
				i {
					color: white;
					font-size: 1.4rem;
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					z-index: 1;
				}
				&:hover {
					width: 100%;
					border-radius: 3rem;
				}
			}
		}
	}
	#menu {
		display: none;
	}
}

.header {
	&--transparent {
		background: $d-grey;
		padding: 2rem 0 4rem 0;
		@media (min-width: 992px) {
			background: none;
		}
	}
	&--block {
		padding: 2rem 0;
		background: $d-grey;
	}
	&--fixed {
		background: $d-grey!important;
		padding: 2rem 0!important;
		transition: 0.4s all;
		-webkit-transition: all 0.4s;
	}
}

#search {
	display: none;
	background: red;
	padding: 2rem;
	form {
		margin: 0;
		button {
			color: red!important;
			background: red!important;
		}
	}
}