.button {
	padding: 0.75rem 5rem;
	margin: 1rem 1.5rem 0 0;
	display: inline-block;
	color: $l-grey;
	border-radius: 0.4rem;
	border: 0.3rem solid;
	line-height: 2.5rem;
	font-size: 1.6rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	transition: 0.2s all;
	-webkit-transition: all 0.2s;
	&:hover {
		color: $white;
	}
	&--pink {
		background: $pink!important;
		border-color: $pink!important;
		&:hover {
			box-shadow: 0rem 0rem 1rem 0.1rem $pink;
		}
	}
	&--pink-line {
		background: none!important;
		border-color: $pink!important;
		&:hover {
			box-shadow: 0rem 0rem 1rem 0.1rem $pink;
		}
	}	
	&--green {
		background: $green!important;
		border-color: $green!important;
		&:hover {
			box-shadow: 0rem 0rem 1rem 0.1rem $green;
		}
	}
	&--green-line {
		background: none!important;
		border-color: $green!important;
		&:hover {
			box-shadow: 0rem 0rem 1rem 0.1rem $green;
		}
	}
	&--purple {
		background: $purple!important;
		border-color: $purple!important;
		&:hover {
			box-shadow: 0rem 0rem 1rem 0.1rem $purple;
		}
	}
	&--purple-line {
		background: none!important;
		border-color: $purple!important;
		&:hover {
			box-shadow: 0rem 0rem 1rem 0.1rem $purple;
		}
	}
}