.contact {
	padding: 2.5rem 0;
	.title {
		color: $pink;
		text-transform: uppercase;
		margin: 0;
	}
	.icon {
		i {
			color: $white;
			font-size: 2rem;
			margin: 0 2rem 0 0;
		}
	}
	h3, h4 {
		font-weight: $bold;
	}
	a {
		color: $white;
	}
}