.header {
	.breadcrumbs {
		display: none;
		@media (min-width: 992px) {
			display: block;
			padding-top: 15rem!important;
			padding-bottom: 2rem!important;
		}
	}
	.container {
		padding-top: 12rem;
		padding-bottom: 4rem;
		@media (min-width: 992px) {
			padding-top: 0;
		}
	}
	.image {
		background-size: auto 35rem!important;
		background-repeat: no-repeat!important;
		background-position: center center!important;
		min-height: 50rem;
		border: 0.2rem solid $b-grey;
		margin: 0;
		@media (min-width: 992px) {
			margin: 0 8rem 0 0;
		}
	}
}

.home {
	.header {
		@media (min-width: 992px) {
			padding-top: 12rem;
		}
	}
}