.related-product-categories {
	padding: 6rem 0;
	a {
		color: $white;
	}
	.slick-track {
	    display: flex !important;
	    .slick-slide {
	    	margin: 0 1rem;
		    height: inherit !important;
		}
	}
	.related-product-category {
		position: relative;
		background-size: cover!important;
		background-position: center!important;
		padding: 3rem 3rem 10rem 3rem;
		color: inherit;
		border-radius: 1rem;
		.overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: $d-grey;
			opacity: 0.5;
		}
		* {
			position: relative;
		}
		.link {
			position: absolute;
			bottom: 4rem;
			left: 50%;
			-webkit-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
			z-index: 1;
			text-transform: uppercase;
			letter-spacing: 0.2rem;
			&:before {
				content: " ";
				height: 0.3rem;
				width: 100%;
				position: absolute;
				bottom: -0.5rem;
				background: $green;
			}
		}
	}
}