body {
    background-color: $purple1;
    color: $white;
}
section,
.row {
    position: relative;
}
@media(min-width: 1200px) {
    main {
        position: relative;
        overflow: hidden;
        top: -9rem;
    }
}