nav {
    display: block;
}
nav.mobile {
    display: block;
}
nav.desktop {
    display: none;
}
@media(min-width: 1200px) {
    nav.desktop {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            li {
                width: auto;
                position: relative;
                margin-right: 1.5rem;
                overflow: hidden;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    color: $white;
                    text-decoration: none;
                    font-family: $informa;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 1.25rem;
                    transition: .3s;
                }
                &.menu-item-has-children {
                    padding-right: 1.25rem;
                    margin-right: 1.25rem;
                    &:after {
                        content: '';
                        background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.02421 0.952303L4.99993 5.00015L9.02364 1.04796' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                        background-repeat: no-repeat;
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        right: 0;
                        top: 40%;
                    }
                }
                &::before {
                    transition: .3s;
                    content: '';
                    height: 3px;
                    width: 100%;
                    background-color: $white;
                    position: absolute;
                    left: -100%;
                    bottom: 0;
                }
                &:hover.menu-item-has-children::after {
                    opacity: 0;
                }
                &:hover.menu-item-has-children {
                    padding-right: 0;
                    margin-right: 2.5rem;
                }
                &:hover a {
                    color: $blue;
                }
                &:hover::before {
                    background-color: $blue;
                    left: 0;
                }
            }
            &.sub-menu {
                opacity: 0;
                pointer-events: none;
                transition: .3s;
                position: absolute;
            }
        }
    }
    nav.mobile {
        display: none;
    }
}

#menu-primary {
    margin: 0;
    padding: 0;
}