.uppercase {
    text-transform: uppercase;
}
.button {
    text-transform: uppercase;
    border-radius: 15px;
    padding: .75rem .75rem;
    display: inline-block;
    margin-right: .5rem;
    font-weight: bold;
    color: #fff;
}
.button.button--white {
    background: #fff;
    border: 1px solid #000;
    color: #001f5f;
}
.button.button--pink {
    background: #b21d81;
}
